body {
	background: #fff url(../Images/bg-body-1024.png) repeat-y top center;
	font: normal normal normal 13.34px/normal helvetica, arial, freesans, clean, sans-serif;
	width: 940px;
    margin:0 auto;
}

h1 {
    font-size: 170% !important;
    margin-top: 1em;
    padding-top: 0.5em;
}

h4 {
    position: relative;
    top: 60px;
    left: 560px;
}

a img {
    border: none;
}

#existing h2 {
    border-top: 4px solid #E0E0E0 !important;
    font-size: 150% !important;
    margin-top: 1.5em !important;
    padding-top: 0.5em !important;
}

#logo {
    position:relative;
    top: 5px;
    left: 10px;
    text-decoration: none;
}

#header-links {
    display: inline;
    position: relative;
    left: 240px;
}
#header-links A {
	color: #00F;
	margin-left: 0.5em;
}

#github {
    clear: right;
    padding: 12px 18px 0 0;
    float: right;
}
#github img {
    height: 64px;
}

#summary {
    margin: 30px 0 20px 0;
    padding: 10px;
    background: #ffc;
    color: green;
    font-size: 16px;
    border: solid 1px #ccc;
    font-weight: bold;
    text-align: center;
}
#summary A {
    color: #00F;
}

#btnReset {
    clear: right;
    float: right;
}


input[type=text] {
	width: 400px;
	padding: 2px 5px;
}

.lnk-src {
	padding: 26px 17px 0 0;
	float: right;
}

.ib {
	position: relative;
	display: -moz-inline-box;
	display: inline-block;
}

* html .ib {
	display: inline;
}

*:first-child + html .ib {
	display: inline;
}

dt {
	margin: 10px 0 5px 0;
}

#existing-movies DD LABEL {
	width: 300px;
}

.lnk-update, .lnk-delete {
	margin-left: 10px;
	color: #00F;
	text-decoration: underline;
	cursor: pointer;
}

#restlog {
    width: 360px;
    height: 600px;
    overflow-y: scroll;
    font-size: 14px !important;
    line-height: 18px !important;
    clear: both;
    float: right;
    background-color: ghostWhite !important;
    border: 1px solid #DEDEDE !important;
    color: #444 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    margin: 4em 0 !important;
    overflow: auto !important;
    padding: 0.5em !important;
    /*display: block;*/
    font-family: monospace;
    white-space: pre;
}
#restlog B {
	width: 70px;
}

#addMovie {
	display: none;
}

SELECT[name=genres] {
	position: relative;
	left: 345px;
}

#btn-download {
	display: block;
	border-top: solid 4px #E0E0E0;
	margin: 20px 0 20px 0px;
	padding: 10px 0 0 0;
}

#csvformat {
	background: url(https://servicestack.net/excel16x16.gif) no-repeat top left;
	padding: 0 0 0 20px;
	margin: 15px 0 0 0;
}
#csvformat B {
	color: #00f;
	text-decoration: underline;
	cursor: pointer;
}
